.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.unsplash.com/photo-1581103240809-8660918e8ae5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80*6HF8JaYAct288sIlvyIPOg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
